ion-card {
  min-width: 20%;
  max-width: 30%;
}

.ion-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 5%;
  margin-right: 5%;

}

body {
  margin-left: 30%;
  margin-right: 30%;
  justify-content: center;
}
